body {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.divtable {
    width: 100%;
}

table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

table, tr, th, td {
    border: 2px solid white;
}

th, td {
    padding: 5px;
    padding-left: 20px;
}

th {
    font-weight: bolder;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #a0aec0;
}

h1 {
    font-size: 60px;
    margin: 10px;
    color: #4B86CB;
}

h2 {
    font-size: 40px;
    margin: 10px;
    color: #4B86CB;
    width: 100%;
    text-align: center;
}

.form-container {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.formrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#input {
    display: inline-block;
}
#adr{
    max-width: 100%;
    width: 100%;
}
input {
    border-radius: 6px;
    box-sizing: border-box;
    border-style: none;
    padding: 10px;
    margin-right: 10px;
    display: block;
}


input[type=text], select {
    background-color: #C5DEEA;
}

input[type=email], select {
    background-color: #C5DEEA;
    }
    
@media screen and (max-width: 576px) {
    .formrow {
        justify-content: flex-start;
    }

}