body {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(247, 156, 156);
}
  .h1 {
    color: rgb(198, 198, 226);
  }
  .h4 {
    color: rgb(198, 198, 226);
  }
 .p {
    color: rgb(19, 16, 16);
    
  }
.div1{
/* background-color: antiquewhite; */
/* opacity: 50%; */

}