
@mixin button-general {   
    width: 150px;
    height: 40px;
    margin: 5px;
    background-color: Transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: ease-in-out 0.4s;
}
    


#buttonbuy {
    font-family: 'Lobster', cursive;
    color: $hero-1st-color;
    border: 2px solid$hero-1st-color
}

#buttonbuy:hover {
    background-color:$hero-1st-color;
}

#buttonshow {
    font-family: 'Lobster', cursive;
    color:$hero-2nd-color;
    border: 2px solid $hero-2nd-color;
}

#buttonshow:hover {
    background-color: $hero-2nd-color;
}