.Art {}
.art-box{
    
    outline: none;
    display: block;
    width: 90vw;
    min-width: 178px;
    min-height: 700px; 
    height: auto; 
      border:none;
    /* border:solid 2px rgb(255, 217, 2); */
    /* border-radius: 20px; */
    border-left: none;
    border-top-right-radius: 110px;
    border-bottom-right-radius: 110px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    font-size: 25px;
    color:rgb(255, 255, 255);
  margin-top: 20px;
/* z-index: 10; */
padding-top: 5vw;
padding-left: 1vw;
padding-bottom: 3vw;
margin-bottom: 20vh;
text-align: center;
}
.carousel{
  text-align: center;
 width: auto;
 max-height: 400px;
 margin-left: auto;
  margin-right: auto;
}
.carousel-img{
  max-height: 400px;
    width: auto;

}
@media only screen and (max-width: 768px) {
  .art-box{
    width: 90%;
    height: 500px;
    padding-top: 9vw;
    /* border-top-right-radius: 250px; */
  }
  .carousel{
  
    max-width: 90%;
    max-height: 300px;
   }
  .img{
  
    width: auto;
    max-height: 300px;
   }
}