@import "./colors";

button{
width: 300px;
height: 100px;
box-sizing: border-box;
border: 5px solid goldenrod;
background-color: $primary-color;
color: $button-color;
&:hover{
    background-color: $secondary-color;
    color: $button-color;
}
}