.About {}
.about-box{
    outline: none;
    display: block;
    width: 70vw;
    min-width: 178px;
    /* height: 440px; */
    border:none;
    /* border:solid 2px rgb(255, 217, 2); */
    /* border-radius: 20px; */
    border-left: none;
    border-top-right-radius: 352px;
    border-bottom-right-radius: 110px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    font-size: 25px;
    color:rgb(255, 255, 255);
  margin-top: 20px;
/* z-index: 10; */
padding-top: 5vw;
padding-left: 1vw;
padding-bottom: 3vw;
}

.about-text{
  width: 60vw;
font-size: 16px;
}
@media only screen and (max-width: 768px) {
  .about-box{
    width: 90%;
    padding-top: 9vw;
    border-top-right-radius: 250px;
  }
}