.worksBackground{
    background-image: url(../images/trees.jpg) ;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: ivory;
}